{% extends "layout.html" %}
{% block content %}
<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size:35px">{{ legend }}</legend>
                <div class="row">
                    <div class="form-group col-md-4">
                        {{ form.transportType.label(class="form-control-label") }}
                        {% if form.transportType.errors %}
                            {{ form.transportType(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.transportType.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.transportType(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.route.label(class="form-control-label") }}
                        {% if form.route.errors %}
                            {{ form.route(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.route.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.route(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.price.label(class="form-control-label") }}
                        {% if form.price.errors %}
                            {{ form.price(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.price.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.price(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-md-8" id="inputType">
                        <label for="connected_sites" class="form-control-label">Connected Sites</label>
                        <select multiple name="connected_sites" class="form-control form-control-lg" id="connected_sites" required>
                            {% for connected in connected_sites %}
                                <option value='{{manager}}'>{{ manager }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}