{% extends "layout.html" %}
{% block content %}
<div class="content-section">   
    <legend class="border-bottom mb-4" style="font-size:35px">{{legend}}</legend>      
    <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">
                Event Name
                <div class="btn-group float-right">
                    {{ form.eventUpSort(class="btn btn-outline-info") }}
                    {{ form.eventDownSort(class="btn btn-outline-info") }}
                </div>
            </th>
            <th scope="col">
                Staff Name
                <div class="btn-group float-right">
                    {{ form.staffUpSort(class="btn btn-outline-info") }}
                    {{ form.staffDownSort(class="btn btn-outline-info") }}
                </div>
            </th>
            <th scope="col">
                Visits
                <div class="btn-group float-right">
                    {{ form.visitUpSort(class="btn btn-outline-info") }}
                    {{ form.visitDownSort(class="btn btn-outline-info") }}
                </div>
            </th>
            <th scope="col">
                Revenues ($)
                <div class="btn-group float-right">
                    {{ form.revenueUpSort(class="btn btn-outline-info") }}
                    {{ form.revenueDownSort(class="btn btn-outline-info") }}
                </div>
            </th>
            </tr>
        </thead>
        <tbody>
            {% for event in events%}
            <tr>
                <td>{{ event['event_name']}}</td>
                <td>
                    {% for name in event['staffList'] %}
                    <p>{{name}}</p>
                    {% endfor %}
                </td>
                <td>{{ event['visits'] }}</td>
                <td>{{ event['revenue'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-outline-info mb-3" href="{{ url_for('site_report', emails=emails, userType=userType, username=username) }}">Back</a>
</div>
{% endblock content %}