{% extends "layout.html" %}
{% block content %}
<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size:35px">{{legend}}</legend>
                <div class="row">
                    <div class="col-md-6"> 
                        <h5>Name:</h5>
                        <p class="font-italic">{{event['event_name']}}</p>
                    </div>
                    <div class="col-md-6"> 
                        <h5>Price:</h5>
                        <p class="font-italic">{{event['price']}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"> 
                        <h5>Start Date:</h5>
                        <p class="font-italic">{{event['start_date']}}</p>
                    </div>
                    <div class="col-md-6"> 
                        <h5>End Date:</h5>
                        <p class="font-italic">{{event['end_date']}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"> 
                        <h5>Min Staff Required:</h5>
                        <p class="font-italic">{{event['min_staff_req']}}</p>
                    </div>
                    <div class="col-md-6"> 
                        <h5>Capacity:</h5>
                        <p class="font-italic">{{event['capacity']}}</p>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div style="color:red">
                            {% for error in form.description.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" id="inputType">
                    <label for="assign_staff" class="form-control-label">Assign Staff</label>
                    <select multiple name="assign_staff" class="form-control form-control-lg" id="assign_staff">
                        {% for staff in staff_list %}
                            {% if staff in assigned_staff %}
                                <option value='{{staff}}' selected="selected">{{ staff }}</option>
                            {% else %}
                                <option value='{{staff}}'>{{ staff }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    {{ form.update(class="btn btn-outline-info") }}
                </div>
                <hr>
                <div class="row">
                    <div class="form-group col-md-3">
                        {{ form.minVisitsRange.label(class="form-control-label") }}
                        {% if form.minVisitsRange.errors %}
                            {{ form.minVisitsRange(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.minVisitsRange.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.minVisitsRange(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.maxVisitsRange.label(class="form-control-label") }}
                        {% if form.maxVisitsRange.errors %}
                            {{ form.maxVisitsRange(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.maxVisitsRange.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.maxVisitsRange(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.minRevenueRange.label(class="form-control-label") }}
                        {% if form.minRevenueRange.errors %}
                            {{ form.minVisitsRange(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.minRevenueRange.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.minRevenueRange(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.maxRevenueRange.label(class="form-control-label") }}
                        {% if form.maxRevenueRange.errors %}
                            {{ form.maxRevenueRange(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.maxRevenueRange.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.maxRevenueRange(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.filter(class="btn btn-outline-info") }}
                </div>
            </fieldset>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">
                        Date
                        <div class="btn-group float-right">
                            {{ form.dateUpSort(class="btn btn-outline-info form-inline") }}
                            {{ form.dateDownSort(class="btn btn-outline-info form-inline") }}
                        </div>
                    </th>
                    <th scope="col">
                        Daily Visits
                        <div class="btn-group float-right">
                            {{ form.visitUpSort(class="btn btn-outline-info form-inline") }}
                            {{ form.visitDownSort(class="btn btn-outline-info form-inline") }}
                        </div>
                    </th>
                    <th scope="col">
                        Daily Revenue($)
                        <div class="btn-group float-right">
                            {{ form.revenueUpSort(class="btn btn-outline-info form-inline") }}
                            {{ form.revenueDownSort(class="btn btn-outline-info form-inline") }}
                        </div>
                    </th>
                    </tr>
                </thead>
                <tbody>
                    {% for date in results %}
                    <tr>
                        <td>{{ date['visit_event_date'] }}</td>
                        <td>{{ date['visits'] }}</td>
                        <td>{{ date['price'] }}</td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
        </form>
        <a class="btn btn-outline-info mt-2 mb-3" href="{{ url_for('manage_event', emails=emails, userType=userType, username=username) }}">Back</a>
    </div>
{% endblock content %}