{% extends "layout.html" %}
{% block content %}
<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size:35px">{{legend}}</legend>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form.firstName.label(class="form-control-label") }}
                        {% if form.firstName.errors %}
                            {{ form.firstName(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.firstName.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.firstName(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.lastName.label(class="form-control-label") }}
                        {% if form.lastName.errors %}
                            {{ form.lastName(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.lastName.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.lastName(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>pen15</label>
                        <p class="font-italic">HARDCODED</p>
                    </div>
                    <div class="col-md-6">
                        <label>pen15</label>
                        <p class="font-italic">HARDCODED</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>pen15</label>
                        <p class="font-italic">HARDCODED</p>
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.phone.label(class="form-control-label") }}
                        {% if form.phone.errors %}
                            {{ form.phone(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.phone.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div>
                    <label>pen15</label>
                    <p class="font-italic">HARDCODED</p>
                </div>
                <hr>
                <label>pen15</label>
                {% for e in emails %}
                <p>{{ e }}&nbsp;<a class="ml-2 btn btn-outline-info" href="">Remove</a> </p>
                {% endfor %}
                <div class="row">
                    <div class="form-group col-md-6">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-md is-invalid") }}
                            <div style="color:red">
                                {% for error in form.email.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-md") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.addEmail(class="btn btn-outline-success") }}
                    </div>
                </div>
            </fieldset>
            <hr>
            <div class="form-group">
                <label>Is Vistor Account?</label>
                {{ form.visitorAccount(class="form-control form-control-sm col-md-3") }}
            </div>
            <div class="form-group">
                {{ form.update(class="btn btn-outline-info") }} 
            </div>
        </form>
    </div>
{% endblock content %}