{% extends "layout.html" %}
{% block content %}
<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size:35px">{{legend}}</legend>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form.firstName.label(class="form-control-label") }}
                        {% if form.firstName.errors %}
                            {{ form.firstName(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.firstName.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.firstName(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.lastName.label(class="form-control-label") }}
                        {% if form.lastName.errors %}
                            {{ form.lastName(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.lastName.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.lastName(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Username</label>
                        <p class="font-italic">{{username}}</p>
                    </div>
                    <div class="col-md-6">
                        <label>Site Name</label>
                        <p class="font-italic">{{profile['site_name']}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Employee ID</label>
                        <p class="font-italic">{{profile['employee_id']}}</p>
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.phone.label(class="form-control-label") }}
                        {% if form.phone.errors %}
                            {{ form.phone(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.phone.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div>
                    <label>Address</label>
                    <p class="font-italic">{{profile['address']}}</p>
                </div>
                <hr>
                <label>Emails</label>
                {% for e in emails %}
                <p>{{ e }}&nbsp;<a class="ml-2 btn btn-outline-info" href="{{ url_for('remove_email', email=e, userType=userType, username=username) }}">Remove</a> </p>
                {% endfor %}
                <div class="row">
                    <div class="form-group col-md-6">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-md is-invalid") }}
                            <div style="color:red">
                                {% for error in form.email.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-md") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.addEmail(class="btn btn-outline-success") }}
                    </div>
                </div>
            </fieldset>
            <hr>
            <div class="form-check form-check-inline col-md-3 mb-3">
                    {{ form.visitorAccount(class="form-check-input", type="checkbox") }}
                    {{ form.visitorAccount.label(class="form-check-label") }}
            </div>  
            <div class="form-group">
                {{ form.update(class="btn btn-outline-info") }}
                <a class="btn btn-outline-info" href="{{ url_for('main', emails=emails, userType=userType, username=username) }}">Back</a>
            </div>
        </form>
    </div>
{% endblock content %}