{% extends "layout.html" %}
{% block content %}
<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size:35px">{{legend}}</legend>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="sitesDrop" class="form-control-label">Site</label>
                        <select name="sitesDrop" class="form-control form-control-lg" id="sitesDrop" required>
                            <option value="all">--All--</option>
                            {% for site in all_sites %}
                                <option value="{{ site['site_name'] }}">{{ site['site_name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.openEveryDay.label(class="form-control-label") }}
                        {% if form.openEveryDay.errors %}
                            {{ form.openEveryDay(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.openEveryDay.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.openEveryDay(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class='row'>
                    <div class="form-group col-md-6">
                        {{ form.startDate.label(class="form-control-label") }}
                        {% if form.startDate.errors %}
                            {{ form.startDate(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.startDate.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.startDate(class="form-control form-control-lg", type="date") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.endDate.label(class="form-control-label") }}
                        {% if form.endDate.errors %}
                            {{ form.endDate(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.endDate.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.endDate(class="form-control form-control-lg", type="date") }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        {{ form.minVisitsRange.label(class="form-control-label") }}
                        {% if form.minVisitsRange.errors %}
                            {{ form.minVisitsRange(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.minVisitsRange.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.minVisitsRange(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.maxVisitsRange.label(class="form-control-label") }}
                        {% if form.maxVisitsRange.errors %}
                            {{ form.maxVisitsRange(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.maxVisitsRange.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.maxVisitsRange(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.minEventCount.label(class="form-control-label") }}
                        {% if form.minEventCount.errors %}
                            {{ form.minEventCount(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.minEventCount.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.minEventCount(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.maxEventCount.label(class="form-control-label") }}
                        {% if form.maxEventCount.errors %}
                            {{ form.maxEventCount(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.maxEventCount.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.maxEventCount(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>   
                <div class="form-check form-check-inline col-md-3">
                        {{ form.includeVisited(class="form-check-input", type="checkbox") }}
                        {{ form.includeVisited.label(class="form-check-label") }}
                </div>    
            </fieldset>
            <div class="form-group">
                {{ form.filter(class="btn btn-outline-info mr-3") }}
                {{ form.siteDetail(class="btn btn-outline-success mr-1") }}
                {{ form.transitDetail(class="btn btn-outline-success") }}
            </div>
            <hr>
            <div class="form-group">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th scope="col">
                                Site Name
                                <div class="btn-group float-right">
                                    {{ form.siteUpSort(class="btn btn-outline-info form-inline float-right") }}
                                    {{ form.siteDownSort(class="btn btn-outline-info form-inline float-right") }}
                                </div>
                            </th>
                            <th scope="col">
                                Event Count
                                <div class="btn-group float-right">
                                    {{ form.eventUpSort(class="btn btn-outline-info form-inline float-right") }}
                                    {{ form.eventDownSort(class="btn btn-outline-info form-inline float-right") }}
                                </div>
                            </th>
                            <th scope="col">
                                Total Visits
                                <div class="btn-group float-right">
                                    {{ form.totalUpSort(class="btn btn-outline-info form-inline float-right") }}
                                    {{ form.totalDownSort(class="btn btn-outline-info form-inline float-right") }}
                                </div>
                            </th>
                            <th scope="col">
                                My Visits
                                <div class="btn-group float-right">
                                    {{ form.myVisitUpSort(class="btn btn-outline-info form-inline float-right") }}
                                    {{ form.myVisitDownSort(class="btn btn-outline-info form-inline float-right") }}
                                </div>
                            </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for site in sites %}
                            <tr>
                                <td>
                                    <input type="radio" name="site_name" value="{{site['site_name']}}">
                                    <label for="site_name">{{ site['site_name'] }}</label>
                                </td>
                                <td>
                                    <label for="event_count">{{ site['event_count'] }}</label>
                                </td>
                                <td>
                                    <label for="event_count">{{ site['total_visits'] }}</label>
                                </td>
                                <td>
                                    <label for="event_count">{{ site['my_visits'] }}</label>
                                </td>
                            </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
            </div>
        </form>
        <a class="btn btn-outline-info mb-3" href="{{ url_for('main', emails=emails, userType=userType, username=username) }}">Back</a>
    </div>
{% endblock content %}