{% extends "layout.html" %}
{% block leftnav %}
    {% if userType == 'User' %}
        <a class="nav-item nav-link" href="{{ url_for('main', userType=userType, username=username) }}">Home</a>
        <a class="nav-item nav-link" href="/about">User</a>
    {% elif userType == 'Manager' %}
        <a class="nav-item nav-link" href="{{ url_for('main', userType=userType, username=username) }}">Home</a>    
        <a class="nav-item nav-link" href="/about">Manager</a>
    {% elif userType == 'Staff' %}
        <a class="nav-item nav-link" href="{{ url_for('main', userType=userType, username=username) }}">Home</a>
        <a class="nav-item nav-link" href="/about">Staff</a>
    {% elif userType == 'Administrator' %}
        <a class="nav-item nav-link" href="{{ url_for('main', userType=userType, username=username) }}">Home</a>
        <a class="nav-item nav-link" href="/about">Administrator</a>
    {% elif userType == 'Visitor' %}
        <a class="nav-item nav-link" href="{{ url_for('main', userType=userType, username=username) }}">Home</a>
        <a class="nav-item nav-link" href="/about">Visitor</a>
    {% elif userType == 'Manager-Visitor' %}
        <a class="nav-item nav-link" href="{{ url_for('main', userType=userType, username=username) }}">Home</a>
        <a class="nav-item nav-link" href="/about">Manager-Visitor</a>
    {% elif userType == 'Staff-Visitor' %}
        <a class="nav-item nav-link" href="{{ url_for('main', userType=userType, username=username) }}">Home</a>
        <a class="nav-item nav-link" href="/about">Staff-Visitor</a>
    {% elif userType == 'Administrator-Visitor' %}
        <a class="nav-item nav-link" href="{{ url_for('main', userType=userType, username=username) }}">Home</a>
        <a class="nav-item nav-link" href="/about">Administrator-Visitor</a>f
    {% endif %}
{% endblock leftnav %}
{% block rightnav %}
    {% if userType == 'User' %}
        <a class="nav-item nav-link" href="/profile">{{ username }}</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    {% elif userType == 'Manager' %}
        <a class="nav-item nav-link" href="/profile">{{ username }}</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    {% elif userType == 'Staff' %}
        <a class="nav-item nav-link" href="/profile">{{ username }}</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    {% elif userType == 'Administrator' %}
        <a class="nav-item nav-link" href="/profile">{{ username }}</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    {% elif userType == 'Visitor' %}
        <a class="nav-item nav-link" href="/profile">{{ username }}</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    {% elif userType == 'Manager-Visitor' %}
        <a class="nav-item nav-link" href="/profile">{{ username }}</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    {% elif userType == 'Staff-Visitor' %}
        <a class="nav-item nav-link" href="/profile">{{ username }}</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    {% elif userType == 'Administrator-Visitor' %}
        <a class="nav-item nav-link" href="/profile">{{ username }}</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    {% else %}
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link" href="/registerNav">Register</a>
    {% endif %}
{% endblock rightnav %}
{% block content %}
{% endblock content %}
