{% extends "layout.html" %}
{% block content %}
<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size:35px">{{legend}}</legend>
                <div class="form-group col-md-6">
                    <label for="site_name" class="form-control-label">Site</label>
                    <select name="site_name" class="form-control form-control-lg" id="site_name" required>
                        <option value="{{site_name}}">{{ site_name }}</option>
                    </select>
                    </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form.firstName.label(class="form-control-label") }}
                        {% if form.firstName.errors %}
                            {{ form.firstName(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.firstName.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.firstName(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.lastName.label(class="form-control-label") }}
                        {% if form.lastName.errors %}
                            {{ form.lastName(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.lastName.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.lastName(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class='row'>
                    <div class="form-group col-md-6">
                        {{ form.startDate.label(class="form-control-label") }}
                        {% if form.startDate.errors %}
                            {{ form.startDate(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.startDate.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.startDate(class="form-control form-control-lg", type="date") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.endDate.label(class="form-control-label") }}
                        {% if form.endDate.errors %}
                            {{ form.endDate(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.endDate.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.endDate(class="form-control form-control-lg", type="date") }}
                        {% endif %}
                    </div>
                </div>   
            </fieldset>
            <div class="form-group">
                {{ form.filter(class="btn btn-outline-info") }}
            </div>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">
                    Staff Name
                    <div class="btn-group float-right">
                        {{ form.staffUpSort(class="btn btn-outline-info") }}
                        {{ form.staffDownSort(class="btn btn-outline-info") }}
                    </div>
                </th>
                <th scope="col">
                    # Event Shifts
                    <div class="btn-group float-right">
                        {{ form.shiftUpSort(class="btn btn-outline-info") }}
                        {{ form.shiftDownSort(class="btn btn-outline-info") }}
                    </div>
                </th>
                </tr>
            </thead>
            <tbody>
                {% for staff in all_staff %}
                <tr>
                    <td>
                        {{staff['name']}}
                        <input type="hidden" name="staff_name" value="{{all_staff}}">
                    </td>
                    <td>{{staff['event_count']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
        <a class="btn btn-outline-info mb-3" href="{{ url_for('main', emails=emails, userType=userType, username=username) }}">Back</a>
    </div>
{% endblock content %}