{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style="font-size:35px">{{legend}}</legend>
                    <div class="row">
                        <div class="form-group col-md-6">
                            {{ form.transportType.label(class="form-control-label") }}
                            {% if form.transportType.errors %}
                                {{ form.transportType(class="form-control form-control-lg is-invalid") }}
                                <div style="color:red">
                                    {% for error in form.transportType.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.transportType(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.route.label(class="form-control-label") }}
                            {% if form.route.errors %}
                                {{ form.route(class="form-control form-control-lg is-invalid") }}
                                <div style="color:red">
                                    {% for error in form.route.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.route(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="contain_site" class="form-control-label">Contain Site</label>
                            <select name="contain_site" class="form-control form-control-lg" id="contain_site" required>
                                <option value="all">--All--</option>
                                {% for site in sites %}
                                    <option value="{{site}}">{{ site }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                                {{ form.minPrice.label(class="form-control-label") }}
                                {% if form.minPrice.errors %}
                                    {{ form.minPrice(class="form-control form-control-lg is-invalid") }}
                                    <div style="color:red">
                                        {% for error in form.minPrice.errors %}
                                        <span style="font-size:13px">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.minPrice(class="form-control form-control-lg") }}
                                {% endif %}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form.maxPrice.label(class="form-control-label") }}
                            {% if form.maxPrice.errors %}
                                {{ form.maxPrice(class="form-control form-control-lg is-invalid") }}
                                <div style="color:red">
                                    {% for error in form.maxPrice.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.maxPrice(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.filter(class="btn btn-outline-info") }}
                        {{ form.delete(class="btn btn-outline-info float-right") }}
                        {{ form.edit(class="btn btn-outline-info float-right mr-3") }}
                        <a class="btn btn-outline-info float-right mr-3" href="{{ url_for('create_transit', emails=emails, userType=userType, username=username) }}">Create</a>
                    </div>
                    <hr>
                    <div class="form-group">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                    <th scope="col">Route</th>
                                    <th scope="col">Transport Type
                                        <div class="input-group-append" style="float:right">
                                            {{ form.typeUpSort(class="btn btn-outline-info form-inline") }}              
                                            {{ form.typeDownSort(class="btn btn-outline-info form-inline") }}
                                        </div>
                                    </th>
                                    <th scope="col">Price
                                        <div class="input-group-append" style="float:right">
                                            {{ form.priceUpSort(class="btn btn-outline-info form-inline") }}              
                                            {{ form.priceDownSort(class="btn btn-outline-info form-inline") }}
                                        </div>
                                    </th>
                                    <th scope="col"># Connected Sites</th>
                                    <th scope="col"># Transits Logged</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if transits != None %}
                                    {% for transit in transits %}
                                    <tr>
                                        <td>
                                            <input type="radio" name="transit" value="{{transit['transit_route'] + ' ' + transit['transit_type']}}">
                                            <label for="transit_route">{{ transit['transit_route'] }}</label>
                                            <input type="hidden" name="transits" value="{{transits}}">
                                        </td>
                                        <td>
                                            <label for="transport_type">{{ transit['transit_type'] }}</label>
                                        </td>
                                        <td>
                                            <label for="transit_price">{{ transit['transit_price'] }}</label>
                                        </td>
                                        <td>
                                            <label for="connected_sites">{{ transit['connected_sites'] }}</label>
                                        </td>
                                        <td>
                                            <label for="transits_logged">{{ transit['transits_logged'] }}</label>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                    </div>
                </fieldset>
            </form>
            <a class="btn btn-outline-info mb-3" href="{{ url_for('main', emails=emails, userType=userType, username=username) }}">Back</a>
    </div>
{% endblock content %}