{% extends "layout.html" %}
{% block content %}
<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size:35px">{{legend}}</legend>

                <div class="form-group">
                    <label for="sitesDrop" class="form-control-label">Site</label>
                    <select name="sitesDrop" class="form-control form-control-lg" id="sitesDrop" required>
                        <option value="all">--All--</option>
                        {% for site in sites %}
                            <option value="{{site['site']}}">{{ site['site'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="managers" class="form-control-label">Manager</label>
                    <select name="managers" class="form-control form-control-lg" id="managers" required>
                        <option value="all">--All--</option>
                        {% for manager in sites %}
                            <option value="{{manager['manager']}}">{{ manager['manager'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    {{ form.openEveryDay.label(class="form-control-label") }}
                    {% if form.openEveryDay.errors %}
                        {{ form.openEveryDay(class="form-control form-control-lg is-invalid") }}
                        <div style="color:red">
                            {% for error in form.openEveryDay.errors %}
                            <span style="font-size:13px">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.openEveryDay(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.filter(class="btn btn-outline-info") }}
                    {{ form.delete(class="btn btn-outline-info float-right") }}
                    {{ form.edit(class="btn btn-outline-info float-right mr-3") }}
                    <a class="btn btn-outline-info float-right mr-3" href="{{ url_for('create_site', emails=emails, userType=userType, username=username) }}">Create</a>
                </div>
                <hr>
                <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                <th scope="col">Site
                                <div class="input-group-append" style="float:right">
                                    {{ form.upSort(class="btn btn-outline-info form-inline") }}              
                                    {{ form.downSort(class="btn btn-outline-info form-inline") }}              
                                </div>
                                </th>
                                <th scope="col">Manager
                                <div class="input-group-append" style="float:right">
                                    {{ form.managerUpSort(class="btn btn-outline-info form-inline") }}              
                                    {{ form.managerDownSort(class="btn btn-outline-info form-inline") }}
                                </div>
                                </th>
                                <th scope="col">Open Everyday
                                <div class="input-group-append" style="float:right">
                                    {{ form.openUpSort(class="btn btn-outline-info form-inline") }}              
                                    {{ form.openDownSort(class="btn btn-outline-info form-inline") }}
                                </div>
                                </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for site in sitesList %}
                                <tr>
                                    <td>
                                        <input type="radio" name="site" value="{{site['site']}}">
                                        <label for="site">{{ site['site'] }}</label>
                                        <input type="hidden" name="site_name" value="{{sitesList}}">
                                    </td>
                                    <td>
                                        <label for="manager">{{ site['manager'] }}</label>
                                    </td>
                                    <td>
                                        <label for="open_everyday">{{ site['open_everyday'] }}</label>
                                    </td>
                                </tr>
                                {% endfor %}
                               
                            </tbody>
                        </table>
                </div>
            </fieldset>
        </form>
        <a class="btn btn-outline-info mb-3" href="{{ url_for('main', emails=emails, userType=userType, username=username) }}">Back</a>
    </div>
{% endblock content %}