{% extends "layout.html" %}
{% block content %}
<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size:35px">{{legend}}</legend>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form.name.label(class="form-control-label") }}
                        {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.name.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.descriptionKeyword.label(class="form-control-label") }}
                        {% if form.descriptionKeyword.errors %}
                            {{ form.descriptionKeyword(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.descriptionKeyword.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.descriptionKeyword(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class='row'>
                    <div class="form-group col-md-6">
                        {{ form.startDate.label(class="form-control-label") }}
                        {% if form.startDate.errors %}
                            {{ form.startDate(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.startDate.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.startDate(class="form-control form-control-lg", type="date") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.endDate.label(class="form-control-label") }}
                        {% if form.endDate.errors %}
                            {{ form.endDate(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.endDate.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.endDate(class="form-control form-control-lg", type="date") }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        {{ form.minDurationRange.label(class="form-control-label") }}
                        {% if form.minDurationRange.errors %}
                            {{ form.minDurationRange(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.minDurationRange.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.minDurationRange(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.maxDurationRange.label(class="form-control-label") }}
                        {% if form.maxDurationRange.errors %}
                            {{ form.maxDurationRange(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.maxDurationRange.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.maxDurationRange(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.minVisitsRange.label(class="form-control-label") }}
                        {% if form.minVisitsRange.errors %}
                            {{ form.minVisitsRange(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.minVisitsRange.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.minVisitsRange(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.maxVisitsRange.label(class="form-control-label") }}
                        {% if form.maxVisitsRange.errors %}
                            {{ form.maxVisitsRange(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.maxVisitsRange.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.maxVisitsRange(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        {{ form.minRevenueRange.label(class="form-control-label") }}
                        {% if form.minRevenueRange.errors %}
                            {{ form.minVisitsRange(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.minRevenueRange.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.minRevenueRange(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.maxRevenueRange.label(class="form-control-label") }}
                        {% if form.maxRevenueRange.errors %}
                            {{ form.maxRevenueRange(class="form-control form-control-lg is-invalid") }}
                            <div style="color:red">
                                {% for error in form.maxRevenueRange.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.maxRevenueRange(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.filter(class="btn btn-outline-info") }}
                    <a class="btn btn-outline-info float-right" href="">Delete</a>
                    {{ form.viewEdit(class="btn btn-outline-info float-right mr-3") }}
                    <a class="btn btn-outline-info float-right mr-3" href="{{ url_for('create_event', userType=userType, username=username) }}">Create</a>
                </div>
                <hr>
                <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                <th scope="col">
                                    Name
                                    <div class="btn-group-vertical float-right">
                                            {{ form.nameUpSort(class="btn btn-outline-info form-inline float-right") }}
                                            {{ form.nameDownSort(class="btn btn-outline-info form-inline float-right") }}
                                    </div>
                                </th>
                                <th scope="col">
                                    Staff Count
                                    <div class="btn-group-vertical float-right">
                                            {{ form.staffUpSort(class="btn btn-outline-info form-inline float-right") }}
                                            {{ form.staffDownSort(class="btn btn-outline-info form-inline float-right") }}
                                    </div>
                                </th>
                                <th scope="col">
                                    Duration (days)
                                    <div class="btn-group-vertical float-right">
                                            {{ form.durationUpSort(class="btn btn-outline-info form-inline float-right") }}
                                            {{ form.durationDownSort(class="btn btn-outline-info form-inline float-right") }}
                                    </div>
                                </th>
                                <th scope="col">
                                    Total Vists
                                    <div class="btn-group-vertical float-right">
                                            {{ form.visitUpSort(class="btn btn-outline-info form-inline float-right") }}
                                            {{ form.visitDownSort(class="btn btn-outline-info form-inline float-right") }}
                                    </div>
                                </th>
                                <th scope="col">
                                    Total Revenue ($)
                                    <div class="btn-group-vertical float-right">
                                            {{ form.revenueUpSort(class="btn btn-outline-info form-inline float-right") }}
                                            {{ form.revenueDownSort(class="btn btn-outline-info form-inline float-right") }}
                                    </div>
                                </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in events %}
                                <tr>
                                    <td>
                                        <input type="radio" name="event_name" value="{{event['event_name']}}">
                                        <input type="hidden" name="start_date {{event['event_name']}}" value="{{event['start_date']}}">
                                        <input type="hidden" name="site_name {{event['event_name']}}" value="{{event['site_name']}}">
                                        <label for="event_name">{{ event['event_name'] }}</label>
                                    </td>
                                    <td>
                                        <label for="staff_count">{{ event['staff_count'] }}</label>
                                    </td>
                                    <td>
                                        <label for="duration">{{ event['duration'] }}</label>
                                    </td>
                                    <td>
                                        <label for="total_visits">{{ event['total_visits'] }}</label>
                                    </td>
                                    <td>
                                        <label for="total_revenue">{{ event['total_revenue'] }}</label>
                                    </td>
                                </tr>
                                {% endfor %} 
                            </tbody>
                        </table>
                </div>
            </fieldset>
        </form>
        <a class="btn btn-outline-info mb-3" href="{{ url_for('main', emails=emails, userType=userType, username=username) }}">Back</a>
    </div>
{% endblock content %}