{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="font-size:35px">{{ username }}</legend>
            <h3>User Type: {{ userType }}</h3>
            <br>
            <label>Emails</label>
            {% for e in emails %}
            <p>{{ e }}&nbsp;<a class="ml-2 btn btn-outline-info" href="{{ url_for('remove_email', email=e, userType=userType, username=username) }}">Remove</a> </p>
            {% endfor %}
            <div class="row">
                <div class="form-group col-md-6">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-md is-invalid") }}
                        <div style="color:red">
                            {% for error in form.email.errors %}
                            <span style="font-size:13px">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-md") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-3">
                    {{ form.addEmail(class="btn btn-outline-success") }}
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}