{% extends "layout.html" %}
{% block leftnav %}
{% endblock leftnav %}
{% block rightnav %}
    <a class="nav-item nav-link" href="/login">Login</a>
    <a class="nav-item nav-link" href="/registerNav">Register</a>
{% endblock rightnav %}
{% block content %}
    <div class="content-section">
        <!-- <h1 style="text-align: center">Register Navigation</h1> -->
        <legend class="border-bottom mb-4" style="text-align:center; font-size:35px">Register Navigation</legend>
        <div class="navbar-nav">
            <a class="btn btn-outline-info" href="/register_user" style="font-size:25px">User Only</a>
            <br>
            <a class="btn btn-outline-info" href="/register_visitor" style="font-size:25px">Visitor Only</a>
            <br>
            <a class="btn btn-outline-info" href="/register_employee" style="font-size:25px">Employee Only</a>
            <br>
            <a class="btn btn-outline-info" href="/register_employee_visitor" style="font-size:25px">Employee-Visitor</a>
            <br>
            <a class="btn btn-outline-info" href="/" style="font-size:25px">Back</a>
        </div>
    </div>
{% endblock content %}