{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style="font-size:35px">{{legend}}</legend>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="contain_site" class="form-control-label">Contain Site</label>
                            <select name="contain_site" class="form-control form-control-lg" id="contain_site" required>
                                <option value="all">--All--</option>
                                {% for site in sites %}
                                    <option value="{{site}}">{{ site }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            {{ form.transportType.label(class="form-control-label") }}
                            {% if form.transportType.errors %}
                                {{ form.transportType(class="form-control form-control-lg is-invalid") }}
                                <div style="color:red">
                                    {% for error in form.transportType.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.transportType(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group col-md-3">
                                {{ form.minPrice.label(class="form-control-label") }}
                                {% if form.minPrice.errors %}
                                    {{ form.minPrice(class="form-control form-control-lg is-invalid") }}
                                    <div style="color:red">
                                        {% for error in form.minPrice.errors %}
                                        <span style="font-size:13px">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.minPrice(class="form-control form-control-lg") }}
                                {% endif %}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form.maxPrice.label(class="form-control-label") }}
                            {% if form.maxPrice.errors %}
                                {{ form.maxPrice(class="form-control form-control-lg is-invalid") }}
                                <div style="color:red">
                                    {% for error in form.maxPrice.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.maxPrice(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.filter(class="btn btn-outline-info") }} 
                    </div>
                    <hr>
                    <div class="form-group">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                    <th scope="col">
                                        Route  
                                    </th>
                                    <th scope="col">
                                        Transport Type
                                        {{ form.transportDownSort(class="btn btn-outline-info form-inline float-right") }}
                                        {{ form.transportUpSort(class="btn btn-outline-info form-inline float-right") }}
                                    </th>
                                    <th scope="col">
                                        Price
                                        {{ form.priceDownSort(class="btn btn-outline-info form-inline float-right") }}
                                        {{ form.priceUpSort(class="btn btn-outline-info form-inline float-right") }} 
                                    </th>
                                    <th scope="col">
                                        # Connected Sites
                                        {{ form.numConnectedDownSort(class="btn btn-outline-info form-inline float-right") }}
                                        {{ form.numConnectedUpSort(class="btn btn-outline-info form-inline float-right") }} 
                                    </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for transit in transits %}
                                    <tr>
                                        <td>
                                            <input type="radio" name="transit" value="{{transit['transit_route'] + ' ' + transit['transit_type']}}">
                                            <label for="transit_route">{{ transit['transit_route'] }}</label>
                                            <input type="hidden" name="transits" value="{{transits}}">
                                        </td>
                                        <td>
                                            <label for="transit_route">{{ transit['transit_type'] }}</label>
                                        </td>
                                        <td>
                                            <label for="transit_route">{{ transit['transit_price'] }}</label>
                                        </td>
                                        <td>
                                            <label for="transit_route">{{ transit['connected_sites'] }}</label>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                    </div>
                    
                    {{ form.transitDate.label(class="form-control-label") }}
                    <div class="input-group mb-1">
                        {% if form.transitDate.errors %}
                            {{ form.transitDate(class="form-control form-control-lg is-invalid col-lg-3", type="date") }}
                            <div style="color:red">
                                {% for error in form.transitDate.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.transitDate(class="form-control form-control-lg col-lg-3", type="date") }}
                        {% endif %}
                        <div class="input-group-append">
                            {{ form.logTransit(class="btn btn-outline-info form-inline") }}
                        </div>
                    </div>
                </fieldset>
                <a class="btn btn-outline-info mb-3" href="{{ url_for('main', emails=emails, userType=userType, username=username) }}">Back</a>
            </form>
    </div>
{% endblock content %}

