{% extends "layout.html" %}
{% block content %}
<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size:35px">{{legend}}</legend>
                <div class="row">
                    <div class="col-md-6">
                        <label>Site</label>
                        <p class="font-italic">{{site_name}} </p>
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.transportType.label(class="form-control-label") }}
                        {% if form.transportType.errors %}
                            {{ form.transportType(class="form-control form-control-md is-invalid") }}
                            <div style="color:red">
                                {% for error in form.transportType.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.transportType(class="form-control form-control-md") }}
                        {% endif %}
                    </div>
                </div>     
            </fieldset>
            <div class="form-group">
                {{ form.filter(class="btn btn-outline-info") }}
            </div>
            <hr>
            <div class="form-group">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th scope="col">Route</th>
                            <th scope="col">Transport Type</th>
                            <th scope="col">Price</th>
                            <th scope="col"># Connected Sites</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transit in transits %}
                            <tr>
                                <td>
                                    <input type="radio" name="transit" value="{{transit['transit_route'] + ' ' + transit['transit_type']}}">
                                    <label for="transit_route">{{ transit['transit_route'] }}</label>
                                </td>
                                <td>
                                    <label for="transit_type">{{ transit['transit_type'] }}</label>
                                </td>
                                <td>
                                    <label for="transit_price">{{ transit['transit_price'] }}</label>
                                </td>
                                <td>
                                    <label for="connected_sites">{{ transit['connected_sites'] }}</label>
                                </td>
                            </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
            </div>
            {{ form.transitDate.label(class="form-control-label font-weight-bold") }}
            <div class="input-group mb-3">
                {% if form.transitDate.errors %}
                    {{ form.transitDate(class="form-control form-control-md is-invalid col-md-3", type="date") }}
                    <div style="color:red">
                        {% for error in form.transitDate.errors %}
                        <span style="font-size:13px">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.transitDate(class="form-control form-control-md col-md-3", type="date") }}
                {% endif %}
                <div class="input-group-append">
                    {{ form.logTransit(class="btn btn-outline-secondary form-inline") }}
                </div>
            </div>
        </form>
        <a class="btn btn-outline-info mb-3" href="{{ url_for('explore_site', emails=emails, userType=userType, username=username) }}">Back</a>
    </div>
{% endblock content %}