{% extends "layout.html" %}
{% block content %}
<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size:35px">{{legend}}</legend>
                <div class="row">
                    <div class="col-md-6">
                        <label>Site</label>
                        <p class="font-italic">HARDCODED </p>
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.transportType.label(class="form-control-label") }}
                        {% if form.transportType.errors %}
                            {{ form.transportType(class="form-control form-control-md is-invalid") }}
                            <div style="color:red">
                                {% for error in form.transportType.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.transportType(class="form-control form-control-md") }}
                        {% endif %}
                    </div>
                </div>     
            </fieldset>
            <hr>
            <div class="form-group">
                {% if form.routeList.errors %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th scope="col">Route</th>
                            <th scope="col">Transport Type</th>
                            <th scope="col">Price</th>
                            <th scope="col"># Connected Sites</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for choice in form.routeList %}
                            <tr>
                                <td>{{choice}}&nbsp;{{ choice.label }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                    <div style="color:red">
                        {% for error in form.routeList.errors %}
                                <span style="font-size:13px">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th scope="col">Route</th>
                            <th scope="col">Transport Type</th>
                            <th scope="col">Price</th>
                            <th scope="col"># Connected Sites</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for choice in form.routeList %}
                            <tr>
                                <td>{{choice}}&nbsp;{{ choice.label }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                {% endif %}
            </div>
            {{ form.transitDate.label(class="form-control-label font-weight-bold") }}
            <div class="input-group mb-3">
                {% if form.transitDate.errors %}
                    {{ form.transitDate(class="form-control form-control-md is-invalid col-md-3", type="date") }}
                    <div style="color:red">
                        {% for error in form.transitDate.errors %}
                        <span style="font-size:13px">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.transitDate(class="form-control form-control-md col-md-3", type="date") }}
                {% endif %}
                <div class="input-group-append">
                    {{ form.logTransit(class="btn btn-outline-secondary form-inline") }}
                </div>
            </div>
        </form>
    </div>
{% endblock content %}