{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style="font-size:35px">{{legend}}</legend>
                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ form.transportType.label(class="form-control-label") }}
                            {% if form.transportType.errors %}
                                {{ form.transportType(class="form-control form-control-lg is-invalid") }}
                                <div style="color:red">
                                    {% for error in form.transportType.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.transportType(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group col-md-4">
                            <label for="contain_site" class="form-control-label">Contain Site</label>
                            <select name="contain_site" class="form-control form-control-lg" id="contain_site" required>
                                <option value="all">--All--</option>
                                {% for site in sites %}
                                    <option value="{{site}}">{{ site }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.route.label(class="form-control-label") }}
                            {% if form.route.errors %}
                                {{ form.route(class="form-control form-control-lg is-invalid") }}
                                <div style="color:red">
                                    {% for error in form.route.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.route(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class='row'>
                        <div class="form-group col-md-6">
                            {{ form.startDate.label(class="form-control-label") }}
                            {% if form.startDate.errors %}
                                {{ form.startDate(class="form-control form-control-lg is-invalid") }}
                                <div style="color:red">
                                    {% for error in form.startDate.errors %}
                                        <span style="font-size:13px">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.startDate(class="form-control form-control-lg", type="date") }}
                            {% endif %}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.endDate.label(class="form-control-label") }}
                            {% if form.endDate.errors %}
                                {{ form.endDate(class="form-control form-control-lg is-invalid") }}
                                <div style="color:red">
                                    {% for error in form.endDate.errors %}
                                        <span style="font-size:13px">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.endDate(class="form-control form-control-lg", type="date") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.filter(class="btn btn-outline-info") }}
                    </div>
                    <hr>
                    <div id="transit_history">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                <th scope="col">
                                    Date
                                    {{ form.dateDownSort(class="btn btn-outline-info form-inline float-right") }}
                                    {{ form.dateUpSort(class="btn btn-outline-info form-inline float-right") }}
                                </th>
                                <th scope="col">
                                    Route
                                    {{ form.routeDownSort(class="btn btn-outline-info form-inline float-right") }}
                                    {{ form.routeUpSort(class="btn btn-outline-info form-inline float-right") }}
                                </th>
                                <th scope="col">
                                    Transport Type
                                    {{ form.transportDownSort(class="btn btn-outline-info form-inline float-right") }}
                                    {{ form.transportUpSort(class="btn btn-outline-info form-inline float-right") }}
                                </th>
                                <th scope="col">
                                    Price
                                    {{ form.priceDownSort(class="btn btn-outline-info form-inline float-right") }}
                                    {{ form.priceUpSort(class="btn btn-outline-info form-inline float-right") }}
                                </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transit in transits %}
                                <tr>
                                    <td>
                                        <!-- <input type="radio" name="transit" value="{{transit['transit_route'] + ' ' + transit['transit_type']}}"> -->
                                        <label for="transit_date">{{ transit['transit_date'] }}</label>
                                        <input type="hidden" name="transits" value="{{transits}}">
                                    </td>
                                    <td>
                                        <label for="transit_route">{{ transit['transit_route'] }}</label>
                                    </td>
                                    <td>
                                        <label for="transit_type">{{ transit['transit_type'] }}</label>
                                    </td>
                                    <td>
                                        <label for="transit_price">{{ transit['transit_price'] }}</label>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </form>
            <a class="btn btn-outline-info mb-3" href="{{ url_for('main', emails=emails, userType=userType, username=username) }}">Back</a>
    </div>
{% endblock content %}