{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style="font-size:35px">{{legend}}</legend>
                    <div class="row">
                        <div class="form-group col-md-6">
                            {{ form.event.label(class="form-control-label") }}
                            {% if form.event.errors %}
                                {{ form.event(class="form-control form-control-lg is-invalid") }}
                                <div style="color:red">
                                    {% for error in form.event.errors %}
                                    <span style="font-size:13px">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.event(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="contain_site" class="form-control-label">Contain Site</label>
                            <select name="contain_site" class="form-control form-control-lg" id="contain_site" required>
                                <option value="all">--All--</option>
                                {% for site in sites %}
                                    <option value="{{site}}">{{ site }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="form-group col-md-6">
                            {{ form.startDate.label(class="form-control-label") }}
                            {% if form.startDate.errors %}
                                {{ form.startDate(class="form-control form-control-lg is-invalid") }}
                                <div style="color:red">
                                    {% for error in form.startDate.errors %}
                                        <span style="font-size:13px">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.startDate(class="form-control form-control-lg", type="date") }}
                            {% endif %}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.endDate.label(class="form-control-label") }}
                            {% if form.endDate.errors %}
                                {{ form.endDate(class="form-control form-control-lg is-invalid") }}
                                <div style="color:red">
                                    {% for error in form.endDate.errors %}
                                        <span style="font-size:13px">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.endDate(class="form-control form-control-lg", type="date") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.filter(class="btn btn-outline-info") }}
                    </div>
                    <hr>
                    <div id="visit_history">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Event</th>
                                <th scope="col">Site</th>
                                <th scope="col">Price</th>
                                </tr>
                            </thead>
                            {% for event in events %}
                            <tbody>
                                <tr>
                                    <td>{{event['visit_event_date']}}</td>
                                    <td>{{event['event_name']}}</td>
                                    <td>{{event['site_name']}}</td>
                                    <td>{{event['price']}}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                            {% for site in sitesList %}
                            <tbody>
                                <tr>
                                    <td>{{site['visit_start_date']}}</td>
                                    <td></td>
                                    <td>{{site['site_name']}}</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </fieldset>
            </form>
    </div>
{% endblock content %}